﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
        h1 {
            font-family: verdana;
            font-size: 300%;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Jondell Corp - Service(s) Running</h1>
</body>
</html>
